<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>WLNSalesManagementSvc</display-name>

	<!-- get the spring config from WEB-INF\applicationContext.xml -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- FOR RESTful : STARTS -->
	<servlet>
		<display-name>Sales Management Service RESTful Service</display-name>
		<servlet-name>SalesMgmtServiceRSApplication</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<!-- <init-param> -->
		<!-- <param-name>com.sun.jersey.config.property.packages</param-name> -->
		<!-- <param-value>com.telus.csm.esms.ress.webservices</param-value> -->
		<!-- </init-param> -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>WLNSalesMgmtServiceRSApplication</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<resource-ref>
		<res-ref-name>WorkManager-Online-Priority</res-ref-name>
		<res-type>commonj.work.WorkManager</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<resource-ref>
		<res-ref-name>WorkManager-Online</res-ref-name>
		<res-type>commonj.work.WorkManager</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<resource-ref>
		<res-ref-name>ServiceUsageTimerManager</res-ref-name>
		<res-type>commonj.timers.TimerManager</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Unshareable</res-sharing-scope>
	</resource-ref>

	<filter>
		<filter-name>RESTSevletFilter</filter-name>
		<filter-class>com.telus.csm.ress.util.RESTSevletFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RESTSevletFilter</filter-name>
		<servlet-name>SalesMgmtServiceRSApplication</servlet-name>
	</filter-mapping>

	<!-- FOR RESTful : ENDS -->

	<!-- FOR Application Monitor : STARTS -->
	<servlet>
		<servlet-name>monitor</servlet-name>
      	<servlet-class>com.telus.csm.ewlnsc.monitor.ESSMonitorServlet</servlet-class>        
		<load-on-startup>10</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>monitor</servlet-name>
		<url-pattern>/monitor</url-pattern>
	</servlet-mapping>
	<!-- FOR Application Monitor : ENDS -->

	<!-- FOR ASPECT WEAVER : STARTS -->
	<servlet>
		<display-name>SalesMgmtServiceRSUsageHttpServlet</display-name>
		<servlet-name>SalesMgmtServiceRSUsageHttpServlet</servlet-name>
		<servlet-class>com.telus.channelsalesmgmt.common.aspect.profiling.ServiceUsageHttpServlet</servlet-class>
		<init-param>
			<param-name>ServiceName</param-name>
			<param-value>SalesMgmtServiceRS_v1_1</param-value>
		</init-param>
		<load-on-startup>100</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>SalesMgmtServiceRSUsageHttpServlet</servlet-name>
		<url-pattern>/v</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>SalesMgmtServiceRSUsageChartHttpServlet</display-name>
		<servlet-name>SalesMgmtServiceRSUsageChartHttpServlet</servlet-name>
		<servlet-class>com.telus.channelsalesmgmt.common.aspect.profiling.ServiceUsageChartHttpServlet</servlet-class>
		<init-param>
			<param-name>UsageChartPageTitle</param-name>
			<param-value>SalesMgmtServiceRS Daily Usage Chart</param-value>
		</init-param>
		<init-param>
			<param-name>UsageChartTitle</param-name>
			<param-value>SalesMgmtServiceRS and Dependent Services</param-value>
		</init-param>
		<init-param>
			<param-name>StackedUsageChartClassNames</param-name>
			<param-value>com.telus.channelactivation.common.adaptor.AdaptorUtility</param-value>
		</init-param>
		<init-param>
			<param-name>StackedUsageChartSubTitle</param-name>
			<param-value>Dependent Services</param-value>
		</init-param>
		<init-param>
			<param-name>ServiceUsageChartSubTitle</param-name>
			<param-value>SalesMgmtServiceRS Operations</param-value>
		</init-param>
		<init-param>
			<param-name>ServiceUsageChartMethodNames</param-name>
			<param-value>
	        		getVersion,
					initSalesContext,
					getSalesContext,
					getDataSharingSummary
		      </param-value>
		</init-param>
		<init-param>
			<param-name>ServiceUsageChartStyle</param-name>
			<param-value>Combined</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SalesMgmtServiceRSUsageChartHttpServlet</servlet-name>
		<url-pattern>/x</url-pattern>
	</servlet-mapping>
	<!-- FOR ASPECT WEAVER : ENDS -->

	<!-- SOA Last mile security : STARTS -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>secure</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<!-- auth-constraint>
			<role-name>authenticated</role-name>
		</auth-constraint -->
	</security-constraint>

	<!-- Bypassing SOA last mile security -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>public</web-resource-name>
	<!-- Performance profiling to specific server -->
			<url-pattern>/v</url-pattern>
			<url-pattern>/x</url-pattern>
	<!-- Debugging operations -->
			<url-pattern>/demo</url-pattern>
			<url-pattern>/monitor</url-pattern>
		</web-resource-collection>
	</security-constraint>

	<security-role>
		<role-name>authenticated</role-name>
	</security-role>

	<login-config>
		<auth-method>CLIENT-CERT</auth-method>
	</login-config>
	<!-- SOA Last mile security : ENDS -->

</web-app>
