<?xml version='1.0' encoding='UTF-8'?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5">
  <servlet>  
      <display-name>SalesPresaleServiceUsageHttpServlet_v2</display-name>  
      <servlet-name>SalesPresaleServiceUsageHttpServlet_v2</servlet-name>  
      <servlet-class>com.telus.channelsalesmgmt.common.aspect.profiling.ServiceUsageHttpServlet</servlet-class>        
      <init-param>
        <param-name>ServiceName</param-name>
        <param-value>SalesPresaleService_v2_0</param-value>
      </init-param>
      <load-on-startup>100</load-on-startup>
  </servlet>  
  <servlet-mapping>  
      <servlet-name>SalesPresaleServiceUsageHttpServlet_v2</servlet-name>  
      <url-pattern>/stats</url-pattern>  
  </servlet-mapping> 
  <servlet>  
      <display-name>SalesPresaleServiceUsageChartHttpServlet_v2</display-name>  
      <servlet-name>SalesPresaleServiceUsageChartHttpServlet_v2</servlet-name>  
      <servlet-class>com.telus.channelsalesmgmt.common.aspect.profiling.ServiceUsageChartHttpServlet</servlet-class>   
      <init-param>
        <param-name>UsageChartPageTitle</param-name>
        <param-value>Sales Presale Service Daily Usage Chart</param-value>
      </init-param>  
      <init-param>
        <param-name>UsageChartTitle</param-name>
        <param-value>Sales Presale Service and Dependant Services</param-value>
      </init-param>  
      <init-param>
        <param-name>StackedUsageChartClassNames</param-name>
        <param-value>
          com.telus.channelsalesmgmt.adapter.impl.AccountInformationServiceAdapterImpl,
          com.telus.channelsalesmgmt.adapter.impl.AvailabilityServiceAdapterImpl,
          com.telus.channelsalesmgmt.adapter.impl.ConsumerBillingAccountManagementServiceAdapterImpl,
          com.telus.channelsalesmgmt.adapter.impl.ConsumerCustomerManagementServiceAdapterImpl,
          com.telus.channelsalesmgmt.adapter.impl.ConsumerProductCatalogueInfoServiceAdapterImpl,
          com.telus.channelsalesmgmt.adapter.impl.MarketOfferServiceAdapterImpl,
          com.telus.channelsalesmgmt.adapter.impl.OrderMgmtRetrievalServiceAdapterImpl,
          com.telus.channelsalesmgmt.adapter.impl.ServiceAddressManagementServiceAdapterImpl,
          com.telus.channelsalesmgmt.adapter.impl.ServiceOrderReferenceServiceAdapterImpl,
          com.telus.channelsalesmgmt.adapter.impl.SubscriberInformationServiceAdapterImpl,
          com.telus.channelsalesmgmt.adapter.impl.WLNCreditProfileManagementServiceAdapterImpl,
          com.telus.channelsalesmgmt.adapter.impl.WirelineSalesOrderManagerAdapterEjbImpl,
          com.telus.channelsalesmgmt.adapter.impl.OfferInformationServiceAdapterImpl</param-value>
      </init-param>
      <init-param>
        <param-name>StackedUsageChartSubTitle</param-name>
        <param-value>Dependant services</param-value>
      </init-param> 
      <init-param>
        <param-name>ServiceUsageChartClassName</param-name>
        <param-value>com.telus.channelsalesmgmt.webservice.salespresaleservice.SalesPresaleServiceImpl_v2</param-value>
      </init-param>
      <init-param>
        <param-name>ServiceUsageChartSubTitle</param-name>
        <param-value>Sales presale Service methods</param-value>
      </init-param> 
      <init-param>
        <param-name>ServiceUsageChartMethodNames</param-name>
        <param-value>
          authenticateAccount,
          getConsolidatedAccountProfile,
          getOffer,
          getChannelOffer
        </param-value>
      </init-param>  
      <init-param>
        <param-name>ServiceUsageChartStyle</param-name>
        <param-value>Combined</param-value>
      </init-param> 
  </servlet>  
  <servlet-mapping>  
      <servlet-name>SalesPresaleServiceUsageChartHttpServlet_v2</servlet-name>  
      <url-pattern>/chart</url-pattern>  
  </servlet-mapping>    
  <resource-ref>
     <res-ref-name>WorkManager-Online</res-ref-name>
     <res-type>commonj.work.WorkManager</res-type>
     <res-auth>Container</res-auth>
     <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <resource-ref>  
     <res-ref-name>ServiceUsageTimerManager</res-ref-name>  
     <res-type>commonj.timers.TimerManager</res-type>  
     <res-auth>Container</res-auth>  
     <res-sharing-scope>Unshareable</res-sharing-scope>  
 </resource-ref>  
</web-app>